body{ 
	background-color:pink;
	color:blue;
	text-align: center;
 }
 a:link{
 	background-color: purple;
 	background-color: White;
 }
 a:visited:{ 
 	background-color: purple;
 	background-color: White;
  }
 a:hover{
 	background-color: Yellow;
 	background-color: black;
 }
 #container{
 	background-color:white;
 	margin: 50px;
 	padding: 40px;
 	border-radius:40px;
 }
 #soccer{
 	color: green;
 }
 .styleClass{ 
 	color: orange
  }

/* below is the code for the tic tac toe*/

#board{
	width:300px;
	height:300px;
	border-style:solid;
	border-width: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.box{
	hight:100px;
	width:100px;	
	border-style:solid;
	border-width:5px;
}




