body{ 
	background-color:pink;
	color:blue;
	text-align: center;
	span style="cursor:grab">grab</span><br
 }
 a:link{
 	background-color: purple;
 	background-color: White;
 }
 a:visited:{ 
 	background-color: purple;
 	background-color: White;
  }
 a:hover{
 	background-color: Yellow;
 	background-color: black;
 }
 div{
 	background-color:white;
 	margin: 50px;
 	padding: 40px;
 	border-radius:40px;
 }